{% extends 'layouts/main.html' %}
{% block title %}Loris.{{ table_name }}{% endblock %}
{% block content %}

<div class="page-header">
    {% from 'macros/render_form.html' import render_form %}
    <h1> <a href={{url}}>{{table_name}}</a> <h1>
    <h2>Relations</h2>
    Click on a table to expand it.
    <div class="post-tabs">
        <object data="{{ url_for('tmpfile', filename=filename) }}" type="image/svg+xml"
                class="Svg" target="_top">
        </object>
    </div>
    <h2>Enter data</h2>
    {{ render_form(form) }}
    <h2>Table</h2>
    {% with data=data, toggle_off_keys=toggle_off_keys%}
        {% include 'macros/tables.html' %}
    {% endwith %}
</div>

{% endblock %}
